/*
Achtung: Browser unter iOS, benötigen u.a. für hypens: auto; zusätzlich ein -webkit-hyphens: auto;
*/

/* =============================================================== *
   Variables
   Globale Variablen für wiederkehrende Werte
* =============================================================== */
:root{
   --primary-color: #ff0000;
   --secondary-color: #00ff00;
}


/* =============================================================== *
   Basic-HTML
   Grundlegende CSS-Stile für HTML-Tags
* =============================================================== */
h1, h2, h3 {}

p {}

strong{}

em{}

input{}


/* Formularfelder */
input,
textarea{
    margin: 10px 20px;
    padding: 10px 16px;
    border: none;
    line-height: 1em;
    }

textarea{
    line-height: 1em;
}

/* Stil für den Placeholder-Text */
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder { /* Webkit-basierte Browser (Chrome, Safari, Edge) */
    }

textarea::-moz-placeholder,
input::-moz-placeholder { /* Firefox 19+ */
    }

textarea:-ms-input-placeholder,
input:-ms-input-placeholder { /* Internet Explorer und Microsoft Edge */
    }

textarea:-moz-placeholder,
input:-moz-placeholder { /* Firefox 18- */
    }

textarea:focus,
input:focus  {
    outline: none; /* Entfernt den Standard-Fokus-Rahmen */
    border: none;  /* Entfernt die eigene Border (falls vorhanden) */
    }

input[type="submit"]{
    cursor: pointer;
    border: 1px solid;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    padding: .7rem 1.4rem;
    }

input[type="submit"]:hover{
    cursor: pointer;
    }

/* =============================================================== *
   Basic-Wordpress
   Spezifische Stile für WordPress-Elemente
* =============================================================== */
.entry-content {}

.wp-block-image {}

/* Custom-Breakpoint für das Mobile-Menü bei 1023px und Entfernung der Standard-Einstellungen für 600px */
@media (min-width: 1023px) {
   .wp-block-navigation__responsive-container-open:not(.always-shown) {
       display: none !important;
       }
   
   .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
       display: block !important;
       width: 100%;
       position: relative;
       z-index: auto;
       background-color: inherit;
       }
   }

@media (min-width: 600px) {
   .wp-block-navigation__responsive-container-open:not(.always-shown) {
       display: flex;
       }
    
   .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
      display: none;
      }
   }


/* =============================================================== *
   Theme-Styling
   Stile, die spezifisch für das Theme sind
   Alle Angaben, welche in der theme.json definiert sind, wenn keine Block-Styles 
* =============================================================== */

header {}

footer {}


/*
Theme-Color: Dark Mulberry Background
*/
.has-dark-mulberry-background-color {}


/*
Theme-Font: 'Lato'
*/
.has-lato-font-family {
    font-family: 'Lato';
}


/* =============================================================== *
   Components
   Wiederverwendbare Komponenten-Stile (Block-Styles)
* =============================================================== */
/*
Block-Style: [Label] [Block]
Block-Style: Bild drehen Image
*/
.is-style-rotate_me{}


/* =============================================================== *
   Layout
   Stile für Layout-Elemente wie Gruppen, Grids, Spalten usw.
* =============================================================== */

/* 
Block-Style: Masonry Group
*/
.wp-block-group.is-style-masonry {}


/* =============================================================== *
   Module
   Stile für modulare Elemente wie Slider, Tabs usw.
* =============================================================== */


/* =============================================================== *
   Seitenstile
   Spezifische Stile für bestimmte Seiten oder Seitentypen
* =============================================================== */


/* =============================================================== *
   ID's
   Stile für Elemente mit einer spezifischen ID
* =============================================================== */


