/* =============================================================== *
   Variables
   Globale Variablen für wiederkehrende Werte
* =============================================================== */
:root{
   --primary-color: #ff0000;
   --secondary-color: #00ff00;
}


/* =============================================================== *
   Basic-HTML
   Grundlegende CSS-Stile für HTML-Tags
* =============================================================== */
h1, h2, h3 {}

p {}

strong{}

em{}

input{}


/* =============================================================== *
   Basic-Wordpress
   Spezifische Stile für WordPress-Elemente
* =============================================================== */
.entry-content {}

.wp-block-image {}


/* =============================================================== *
   Theme-Styling
   Stile, die spezifisch für das Theme sind
   Alle Angaben, welche in der theme.json definiert sind, wenn keine Block-Styles 
* =============================================================== */

header {}

footer {}


/*
Theme-Color: Dark Mulberry Background
*/
.has-dark-mulberry-background-color {}


/*
Theme-Font: 'Lato'
*/
.has-lato-font-family {
    font-family: 'Lato';
}


/* =============================================================== *
   Components
   Wiederverwendbare Komponenten-Stile (Block-Styles)
* =============================================================== */
/*
Block-Style: [Label] [Block]
Block-Style: Bild drehen Image
*/
.is-style-rotate_me{}


/* =============================================================== *
   Layout
   Stile für Layout-Elemente wie Gruppen, Grids, Spalten usw.
* =============================================================== */

/* 
Block-Style: Masonry Group
*/
.wp-block-group.is-style-masonry {}


/* =============================================================== *
   Module
   Stile für modulare Elemente wie Slider, Tabs usw.
* =============================================================== */


/* =============================================================== *
   Seitenstile
   Spezifische Stile für bestimmte Seiten oder Seitentypen
* =============================================================== */


/* =============================================================== *
   ID's
   Stile für Elemente mit einer spezifischen ID
* =============================================================== */


