.neufahrzeuge_loop{
	width:100%;
	max-width: 100%;
	}

/* Filters und der zu filtende Inhalt */
.neufahrzeuge_loop .filter-section{
	position: relative;	
	padding: 20px 0;
	color: var(--wp--preset--color--dark-blue);
	}
	
	
/* =============================================================== *\ 
   Filter: Allgemein
\* =============================================================== */ 

/* Die Slider- und Buttons-Filter */
.neufahrzeuge_loop .filter_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin:auto;
	max-width: 650px;
	border-radius: 5px;
	background: white;
	box-shadow: 3px 5px 8px #0000001a;
	}

/* Die beiden Container für Slider und Button */
.neufahrzeuge_loop .sliders_container,
.neufahrzeuge_loop .buttons_container{
	margin: 10px;
	}

/* jeder single_filter Container */
.neufahrzeuge_loop .single_filter{
	position: relative;
	width:100%;
	}
.neufahrzeuge_container.switch_in_stock_checked .neufahrzeug_properties_list .color.not_in_stock{
	display: none;
}
.neufahrzeuge_loop .single_filter + .single_filter{
	margin: 1em 0 0;
	}

.neufahrzeuge_loop .filter_label_container{
	background: var(--wp--preset--color--light-blue);
	padding: 5px;
	display: flex;
	justify-content: space-between;
	}

.neufahrzeuge_loop .filter_label{
	cursor: pointer;
	display: flex;
	width: 100%;
	justify-content: space-between;
	font-weight: bold;
	}

/* Label der Slider und Buttons */
.neufahrzeuge_loop .filter_container .current_filter{
	background: var(--wp--preset--color--dark-blue);
	color:var(--wp--preset--color--light-blue);
   }

/* Label Angle */
.neufahrzeuge_loop .filter_container .open .fa-angle-right{
   transform: rotate(90deg);
   }

/* Container für Slider bzw. Buttons */
.neufahrzeuge_loop .filter_drop_down{
   	display: none;
	position: absolute;
	z-index: 2;
	background: white;
	padding: 10px;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-color: var(--wp--preset--color--light-blue);
	width: 100%;
   	}	   

/* Slider oder Button einblenden */	
.neufahrzeuge_loop .sliders_container .open .filter_drop_down{
	display: flex;
	flex-direction: column;
	}	
				
/* Rahmen um die Filter */ 
.neufahrzeuge_loop .filter_container .filter_label_container{
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	}

.neufahrzeuge_loop .filter_container .filter_drop_down{
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	}
	
.neufahrzeuge_loop .filter_container .filter_label_container,
.neufahrzeuge_loop .filter_container .filter_drop_down{
	border-color: var(--wp--preset--color--light-blue);	
	}

.neufahrzeuge_loop .filter_container .open .filter_label_container,
.neufahrzeuge_loop .filter_container .open .filter_drop_down{
	border-color: var(--wp--preset--color--dark-blue);
	}			
		
/* Filter-Label-Container Icons */
.neufahrzeuge_loop .filter_label_container i{
	transition: var(--hoverTrans);
	}

.neufahrzeuge_loop .filter_label_container .filter-label.open i{
	transform: rotate(90deg);
	}		

.neufahrzeuge_loop .filter_label_container .fa-circle-xmark{
	display: none;
	}

.neufahrzeuge_loop .filter_label_container.current_filter .fa-circle-xmark{
	display: block;
	cursor: pointer;
	}

.neufahrzeuge_loop .filter_label_container.current_filter .fa-angle-right{
	display: none;
	}

.neufahrzeuge_loop .filter_label_container:not(.current_filter) .label_text{
	text-transform: capitalize;
	}		
		
.neufahrzeuge_loop .filter-section .hidden{
	display: none;
	}		


/* =============================================================== *\ 
   Filter: Sliders 
\* =============================================================== */ 
.neufahrzeuge_loop .slider-handle{
	background-color: var(--wp--preset--color--dark-blue)!important;
	background-image: none!important;
	cursor: pointer;
	}

.neufahrzeuge_loop .sliders_container{
	flex-grow: 2;
	}

.neufahrzeuge_loop .slider-selection {
	background: var(--wp--preset--color--light-blue)!important;
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	}
	
.neufahrzeuge_loop .slider-horizontal{
	margin: 0.25em 10px;
	width: calc(100% - 20px);
	}
		
/* Zeile unterhalb des Sliders*/
.neufahrzeuge_loop .min_max{
	display: flex;
	justify-content: space-between;
	}

.neufahrzeuge_loop .tooltip.bs-tooltip-bottom,
.neufahrzeuge_loop .tooltip.bs-tooltip-top{
	display: none;
	}

			
/* =============================================================== *\ 
   Filter: Buttons 
\* =============================================================== */ 
.neufahrzeuge_loop .buttons_container{
	width: 50%;
	}

.neufahrzeuge_loop .filter_button {
	margin: 3px;
	padding: 5px 7px;
	border: 1px solid var(--wp--preset--color--light-blue);
	border-radius: 5px;
	background: var(--wp--preset--color--light-blue);
	text-transform: uppercase;
	transition: var(--hoverTrans);
	cursor:pointer;
	}
.neufahrzeuge_loop [data-filter-group="color-kategorie"] .filter_button{
	font-size: 12px;
padding: 2px 5px;
}
.neufahrzeuge_loop .filter_button:hover {
	background-color: var(--wp--preset--color--dark-blue);
	color:white;
	}

.neufahrzeuge_loop .filter_button:active,
.neufahrzeuge_loop .filter_button.is-checked {
	background-color: var(--wp--preset--color--dark-blue);
	color: #fff;
	}

/* Buttons einblenden */	
.neufahrzeuge_loop .buttons_container .open .filter_drop_down{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	}	
	

/* =============================================================== *\ 

 	 Filter: Switch 

\* =============================================================== */ 
  .switches_container{
	  max-width: 650px;
	      margin: 2em auto;
	      display: flex;
	      justify-content: center;
  }
.single_switch{
	margin: 0 10px;
}
.switch_button_container{
	display: flex;
flex-direction: column;
align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: 0.25em;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.switch .toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.switch input:checked + .toggle {
  background-color: var(--wp--preset--color--dark-blue);
}

.switch input:focus + .toggle {
  box-shadow: 0 0 1px var(--wp--preset--color--dark-blue);
}

.switch input:checked + .toggle:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.switch .toggle.round {
  border-radius: 17px;
}

.switch .toggle.round:before {
  border-radius: 50%;
}


/* =============================================================== *\ 

 	 Neufahrzeuge Cards 

\* =============================================================== */ 
.neufahrzeuge_loop .neufahrzeuge_container{
	max-width: 1720px;
	margin: 5vh auto;
	}
	
.neufahrzeuge_loop .neufahrzeuge_container .grid{
	display: flex;
	flex-wrap: wrap;
	width:100%;
	max-width: 100%;
	opacity: 0;	
	}

.neufahrzeuge_loop .neufahrzeuge_container .grid:after {
	content: '';
	display: block;
	clear: both;
	}

.neufahrzeuge_loop .neufahrzeuge_container .neufahrzeug_card,
.neufahrzeuge_loop .neufahrzeuge_container .grid_sizer,
.neufahrzeuge_loop .neufahrzeuge_container .grid-item { 
	width: 400px; 
	}

.neufahrzeuge_loop .neufahrzeuge_container .gutter_sizer { 
	width: 40px; 
	}
.neufahrzeuge_loop .no_results{
	width: 100%;
color: var(--wp--preset--color--dark-blue);
font-size: 25px;
letter-spacing: 1px;
font-weight: 100;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.neufahrzeuge_loop .no_results.hide { 
	display: none;
	}

.neufahrzeuge_loop .neufahrzeug_card{
	background: white;
	margin-bottom: 40px;
	float: left;
	padding-bottom: 20px;
	box-shadow: var(--box_shadow);
	}

.neufahrzeuge_loop .neufahrzeug_card h3{

	font-size: 130%;
    margin: 0.5em 20px 0.25em;
    font-weight: bold;
    height: 42px;
    display: flex;
    align-items: center;
	}
.neufahrzeuge_loop .neufahrzeug_card .slick-track{
	min-width: 1px;
}
/*.neufahrzeuge_loop .neufahrzeug_card a.slick-slide{
	min-width: 400px;
	min-height: 300px;
}

.neufahrzeug_loop .neufahrzeug_card a.slick-slide{

}*/
.neufahrzeuge_loop .neufahrzeug_card img{

	width:400px;
	height: auto;
	max-width: 100%;
	}
.neufahrzeuge_loop .neufahrzeug_card a{
	color:inherit;
	text-decoration: none;

	}
		
.neufahrzeuge_loop .neufahrzeug_card ul.neufahrzeug_properties_list{
	padding: 0 15px;
    font-size: 80%;
    cursor: default;
    height: 5em;
    display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: center;
	}

.neufahrzeuge_loop .neufahrzeug_card ul.neufahrzeug_properties_list li{
	text-align: left;
	padding: 5px 10px;
	border-radius: 22px;
	border:1px solid;
	display: inline-block;
	margin: 5px;
	text-align: left;
	background: #192e4b;
	color: white;
	background: var(--wp--preset--color--light-blue);
	color: var(--wp--preset--color--dark-blue);
	}
.neufahrzeuge_loop .neufahrzeug_card ul.neufahrzeug_properties_list .ab_15_jahren,
.neufahrzeuge_loop .neufahrzeug_card ul.neufahrzeug_properties_list .ab_16_jahren{
font-weight: 400;
color: var(--wp--preset--color--red);
background: rgb(213 43 30 / 12%);
border: 1px solid;
}
.neufahrzeuge_loop .neufahrzeug_card .text_button{
	margin-top: 0;
	margin-right: 14px;
	}
	
.neufahrzeuge_loop .neufahrzeug_card .text_button .text_button_link{
	padding: 11px 13px;
	font-size: 16px;
	border-radius: 25px;
	/*transform: scale(0.85);
	*/
	color:var(--wp--preset--color--light-blue);
	}
	
.neufahrzeuge_loop .neufahrzeug_card .preis_and_call_to_action{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0.5em auto 0;
	align-items: center;
	cursor: default;
	}

.neufahrzeuge_loop .neufahrzeug_card .preis{
	font-weight: bold;
	font-size: 120%;
	background: #192e4b;
	color: white;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 10px 15px 10px 20px;
	letter-spacing: 1px;
	margin: 0.5em 0;
	}
.neufahrzeuge_loop .neufahrzeug_card .preis_original{

text-decoration: line-through;
    font-size: 16px;
    background: transparent;
    color: var(--wp--preset--color--dark-blue);
    font-weight: 500;
    letter-spacing: 0;
    width: 100%;
    margin: 0;
    padding: 0 0 0 20px;
}
.neufahrzeuge_loop .neufahrzeug_card li.color{
	background: var(--wp--preset--color--light-blue);
	color: var(--wp--preset--color--dark-blue);
	}
	




/* =============================================================== *\ 
    Neufahrzeug-Card: Slick-Slider 
\* =============================================================== */ 
.neufahrzeuge_loop .neufahrzeug_card .slick_card_slider:hover .slick-arrow{
	background: #ffffff33;
	}
.neufahrzeuge_loop .neufahrzeug_card .slick_card_slider{
	display: flex!important;
	transition: var(--hoverTrans);
	}

.neufahrzeuge_loop .neufahrzeug_card .slick_card_slider .slick-arrow{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding-left: 3px;
	padding-right: 3px;	
	z-index: 1;
	cursor: pointer;
	}
	
.neufahrzeuge_loop .neufahrzeug_card .slick_card_slider .slick_right{
	right: 0;
	}

/* =============================================================== *\ 

 	 Properties List Color Chips 

\* =============================================================== */ 
.neufahrzeuge_loop .neufahrzeug_properties_list .color{
	transition: var(--hoverTrans);
	cursor: pointer;
}
.neufahrzeuge_loop .neufahrzeug_properties_list .color:hover,
.neufahrzeuge_loop .neufahrzeug_properties_list .color.active{
	background: var(--wp--preset--color--dark-blue);
	color: var(--wp--preset--color--light-blue);
	border-color: var(--wp--preset--color--dark-blue);
}

/* =============================================================== *\ 

 	 Media-Queries 

\* =============================================================== */ 

@media screen and (max-width: 1800px) {
	.neufahrzeuge_loop .neufahrzeuge_container{
		max-width: 1280px;
		}
	}


@media screen and (max-width: 1360px) {
	.neufahrzeuge_loop .neufahrzeuge_container{
		max-width: 982px;
		}

	.neufahrzeuge_loop .neufahrzeuge_container .neufahrzeug_card,
	.neufahrzeuge_loop .neufahrzeuge_container .grid_sizer,
	.neufahrzeuge_loop .neufahrzeuge_container .grid-item { 
		width: 300px; 
		}
		
	.neufahrzeuge_loop .neufahrzeug_card .text_button .text_button_link {
	   /* padding: 15px;
	    font-size: 24px;
	*/}

	.neufahrzeuge_loop .neufahrzeug_card .text_button {
		justify-content: flex-end;
		margin: auto;
		}
		
	.neufahrzeuge_loop .neufahrzeug_card .preis{
		margin: 0.25em auto 1em 20px;
		font-size: 120%;
	    background: transparent;
	    color: var(--wp--preset--color--dark-blue);
	    padding: 0px;
		}
	}


@media screen and (max-width: 1059px) {
	.neufahrzeuge_loop .neufahrzeuge_container{
		max-width: 642px;
		}
		.neufahrzeuge_loop .neufahrzeuge_container .neufahrzeug_card,
		.neufahrzeuge_loop .neufahrzeuge_container .grid_sizer,
		.neufahrzeuge_loop .neufahrzeuge_container .grid-item {
max-width: 400px;
}
}


@media screen and (max-width: 719px) {
.neufahrzeuge_loop .neufahrzeuge_container{
max-width: 400px;
}
.neufahrzeuge_loop .neufahrzeuge_container .neufahrzeug_card,
.neufahrzeuge_loop .neufahrzeuge_container .grid_sizer,
.neufahrzeuge_loop .neufahrzeuge_container .grid-item { 
width: 400px; 
}
	}
	
	
@media screen and (max-width: 620px) {
	.neufahrzeuge_loop .neufahrzeuge_container .gutter_sizer{
		width: 20px;
		}
		
	.neufahrzeuge_loop .sliders_container{
		width: 100%;
		}

	.neufahrzeuge_loop .slider.slider-horizontal {
		width: calc(100% - 20px);
		}
	
	.neufahrzeuge_loop .filter-section .buttons_container{
		width: 100%;
		margin-bottom: 1em;
		}
	}


@media screen and (max-width: 374px) {
	.neufahrzeuge_container{
		max-width: 300px;
		}
		
	.neufahrzeuge_loop .filter-section{
		padding: 10px;
		}
	}	
		