body .team_mitglied_container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

body .block_teammitglied{
max-width: 30%;
background: var(--wp--preset--color--dark-blue);
padding: 20px;
color: white;
margin: 1.5%;
}

.block_teammitglied h2{
font-size: 32px;
text-align: center;
line-height: 1.5em;
}

.block_teammitglied h3{
font-size: 26px;
letter-spacing: 1px;
text-align: center;
}

/* =============================================================== *\ 
 	 Media Queries 
\* =============================================================== */ 
@media screen and (max-width: 1500px) {
	.block_teammitglied h2{
		font-size: 28px;
		}
	}

@media screen and (max-width: 1200px) {
	body .block_teammitglied{
		max-width: 47%;
		}
	
	.block_teammitglied h2{
		font-size: 24px;
		}
	}	

@media screen and (max-width: 600px) {
	body .block_teammitglied{
		max-width: 97%;
		}
	}	