/* =============================================================== *\ 
   Properties-List 
\* =============================================================== */ 

.neufahrzeug_properties{
	position: relative;
	width:500px;
	font-size: 22px;
	}
	
.neufahrzeug_properties ul.neufahrzeug_properties_list{
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	margin-bottom: 2.5em;
	padding: 30px 30px 20px 30px;
	color: var(--wp--preset--color--dark-blue);
	background: white;
	overflow: hidden;
	}

.neufahrzeug_properties .list_item{
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 0.5em;
	}
	
.neufahrzeug_properties .list_item .label{
	width:150px;
	flex-shrink: 0;
	flex-basis: 175px;
	}
	
.neufahrzeug_properties .list_item .value{
	font-weight: bold;
	}
	
.neufahrzeug_properties .list_item a{
	text-decoration: none;
	color: inherit;
	}

.neufahrzeug_properties_list .note{
	font-weight: normal;
	font-size: 80%;
	}
		
/* Preis */
.neufahrzeug_properties_list .sale_price .value{
    letter-spacing: 1px;
    color: var(--wp--preset--color--red);
    padding: 5px;
    font-size: 125%;
    padding: 0;
	}

.neufahrzeug_properties_list .old_price .value{
	text-decoration: line-through;
	font-weight: 100;
	}


/* =============================================================== *\ 
 	 Kategorie-Ecke 
\* =============================================================== */ 

.neufahrzeug_properties .cat_corner_container{
	display: block;
	position: absolute;
	width:120px;
	height: 120px;
	right: 0;
	overflow: hidden;
	border: 0px solid;
	z-index: 1;
	}

.neufahrzeug_properties .cat_corner {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: absolute;	
	width: 150px;
	height: 150px;
	top: calc(-150px / 2);
	right: calc(-150px / 2);
	z-index: 1;
	padding-bottom: 10px;
	color: white;
	background: var(--wp--preset--color--red);
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	}

.neufahrzeug_properties .cat_corner.race{
	background: rgb(31,64,139);
	color:white;
	}

.neufahrzeug_properties .cat_corner.feel{
	background: rgb(213,43,30);
	color:white;
	}
	
.neufahrzeug_properties .cat_corner.move{
	background: rgb(188,189,188);
	color:white;
}

/* An Lager */
.neufahrzeug_properties small{
	color: var(--wp--preset--color--red);
	margin-left: 0.5em;
	}
	
/* =============================================================== *\ 
 	 Cropped Edge 
\* =============================================================== */ 
.wp-block-post-content > p{
	position: relative;
	clip-path: polygon(0 0,100% 0,100% calc(100% - 40.00px),calc(100% - 40.00px) 100%,0 100%);
	/*	
	clip-path: polygon(0 0,calc(100% - 40.00px) 0,100% 40.00px,100% calc(100% - 40.00px),calc(100% - 40.00px) 100%,0 100%);
	*/
	border-left: 10px solid;
}

/* =============================================================== *\ 

 	 Media Queries 

\* =============================================================== */ 
  
@media screen and (max-width:1200px){
}

@media screen and (max-width:600px){
	.neufahrzeug_properties{
		width: 100%;
		font-size: 16px;
	}
	.neufahrzeug_properties ul.neufahrzeug_properties_list{
		    padding: 15px 15px 10px 15px;
	}
	.neufahrzeug_properties .list_item{
		
	}
	.neufahrzeug_properties	.value.single_color small{
		margin-left: 0.1em;
	}
	.neufahrzeug_properties .list_item .label{
		flex-basis: 110px;
	}
	.neufahrzeug_properties .cat_corner_container{
		width:90px;
		height: 90px;
	}
	.neufahrzeug_properties .cat_corner {
		width: 120px;
	    height: 120px;
	    top: calc(-120px / 2);
	    right: calc(-120px / 2);
}
}

@media screen and (max-width:450px){
}